* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(255, 243, 230, 30%);
}

li {
    display: inline;
    list-style: none;
    font-size: large;
    padding: 14px 21px;
    border-radius: 0.4em;
    border: 3px groove rgba(210, 17, 17, 40%);
    background-color: rgba(210, 17, 17, 40%);

}

a {
    text-decoration: none;
    color: black;
}

input {
    width: 100%;
}

#header {
    position: fixed;
    width: 100%;
}
#logo {
    display: block;
    align-items: center;
    margin-left: 85px;
    float: left;
}
#navbar {
    float: right;
    margin-top: 23px;
}

#hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}

#form {
    margin-left: 20%;
    margin-right: 20%;
}

input[type="email"]::placeholder {
    text-align: center;
}


#video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}


.copyright {
    padding: 2%;
    text-align: right;
    background-color: rgb(196, 196, 196);
}


.first {
  background: rgb(194, 204, 214);
  background-image: url("https://lp2.hm.com/hmgoepprod?set=width[1440],quality[80],options[limit]&source=url[https://www2.hm.com/content/dam/ladies_s05/april_2022/1065d/1065D-3x2-the-summer-collection.jpg]&scale=width[global.width],height[15000],options[global.options]&sink=format[jpg],quality[global.quality]");
  padding: 30em 20em;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
}

#header-img {
    width: 100px;
}

@media(min-width: 100px) {
    .text {
        font-size: 20px;
    }
}

#Pricing {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 4% 4%;

}

.pricing_pic {
    border: 1px solid black;
    max-width: 95%;

}

.money {
    font-size: 1.5 em;
    text-align: center;
    margin-top: 0.5em;
    font-family: 'Grape Nuts', cursive;
}

.last second {
    text-align: center;
    background-color: rgb(196, 196, 196);
}

.text {
    text-align: center;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Permanent Marker';
}

.nav-link {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1px;
    max-width: 200px;
    padding: 2%;

}

#email {
    padding: 2%;
    border-radius: 10px;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#navbar {
    float: right;
    margin-top: 23px;
}